*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
main{
  min-height: 100vh;
  background: linear-gradient(to right top,#e44d26, #379ad6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass{
  background: #fff;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.3));
  border-radius: 1em;
  position: relative;

}
.circle1,.circle2{
    background: #fff;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1));
    border-radius: 10em;
    height: 15em;
    width: 15em;
    position: absolute;

}

.circle1{
  top: 30%;
  right: 11%;
}
.circle2{
  bottom: 33%;
  left: 11%;
}
.img_css,.img_html{
  width: 50%;
  margin: 25% 25%;
}
.titolo{
  color: #fff;
  background: linear-gradient(to bottom right, #379ad6 ,#e44d26);
  padding: 1% 1%;
  border-radius: 1em;
  font-size: 40px;
  position: absolute;
  top: 100px;
}
